<section id="main">
    <div class="container-fluid section-social">
        <div class="row">
            <div class="col-md-6">
              <i class="far fa-envelope mobile-alt fs-5"></i>
                <span class="email-info text-muted text-capitalize fs-5">contact@email.com</span>
                <span><i class="fas fa-mobile-alt mobile-alt fs-5"></i></span>
                <span class="text-muted fs-5"> +201025056066</span>
            </div>
      <div class="col-sm-6">
      <div class="row ">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <span class="mt-1 bg-info ">
            <span class="d-flex justify-content-lg-evenly mt-1">
          <a href=""><img src="../../assets/images/instagram.png" class="social-icon" alt="instgram-icon"></a>
          <a href=""><img src="../../assets/images/linkedin.png" class="social-icon" alt="linkedin-icon"> </a>
          <a href=""><img src="../../assets/images/facebook.png" class="social-icon" alt="facebook-icon"></a>
          <a href=""><img src="../../assets/images/twitter.png" class="social-icon" alt="twitter-icon"></a>
          </span>
        </span>
        </div>
      </div>
      
      </div>
      </div>
      </div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#"><img src="../../assets/images/logo2-01.png" alt="Logo" class="logo-Website" />  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-capitalize nav-link-home fs-5 fw-bolder" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover"  routerLink="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover"  routerLink="services">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover" routerLink="nurses">nurses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize fs-5 fw-bolder nav-link-hover" routerLink="contact">contact</a>
          </li>
        </ul>
        
        <div class="sec-profile d-flex align-items-center">
            <a href=""><img src="../../assets/images/notification.png" class="" alt=" me-3" srcset=""></a>
            <span class="fw-bolder  fs-5 user-name lead">User Name</span>
    
        <a href=""><img src="../../assets/images/profile-user.png" class="profile" alt=""></a>
    </div>
      </div>
    </div>
</nav>
<header id="home">
    <div class="container-fluid">
    <div class="row">
    <div class=" col-md-10  main-text-header">
        <div class="col-md-7  text-center ms-md-3 mt-auto">
    <h2 class="fw-bolder header-text">WELCOME TO SMART-NURSING </h2>
<p class="text-header fs-5">
You Are In The Right Place And Your Choice Is Successful,<br>
As This Is A Site That Provides Nurses With High Accuracy,<br>
Great Experience And An Outstanding Performance Experience,<br>
So Enjoy.        
</p>
    </div>
    </div>
    <div class="col-md-6">
<div class="button-sign text-center">
    <button type="button" class="btn btn-primary rounded-pill fw-bolder ms-3 ps-4 pe-4  fs-5 text-center">Sign in</button>
</div>
</div>
    </div>
    <div class="container">
    <div class="row">

        <div class="col-lg-5  text-center  mb-sm-2 end-home bg-light ">
            <h3 class="fw-bolder header-text">WHY CHOOSE SMART-NURSING?</h3>
            <p class="text-header fs-5">Because in short, you will find what you are looking for and
                what you wish for from a comprehensive treatment service
                available at simple prices, just choose your nurse</p>
        </div>
        <div class="col-md-7"></div>

    </div>
</div>

</div>
</header>

<div class="empty-sec bg-body "></div>
<div class="container-fluid  counter wow animate__fadeInDown" data-wow-duration="3s" data-wow-offset="0">
    <div class=" container">
      <div class="row mt-1">

        <div class="col-md-3  text-center p-3">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/images/nurse.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus}}</h2>
          <p class="fw-bolder fs-5 counter-txt">Nurses</p>
        </div>
        </div>

    
        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/images/sign.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus2}}</h2>
          <p class="fw-bold fs-5 counter-txt">Visitors</p>
        </div>
        </div>
    
    
        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/images/checked.png" class="w-25 bg-primary rounded-circle" alt="">
          <h2 class="counter-num">{{numofplus3}}</h2>
          <p class="fw-bolder fs-5 counter-txt">successful cases</p>
        </div>
        </div>
    
        <div class="col-md-3 text-center p-3 ">
            <div class="bg-body counter2 mt-4">
          <img src="../../assets/images/profile-user.png"  class="w-25" alt="">
          <h2 class="counter-num">{{numofplus3}}</h2>
          <p class="fw-bolder fs-5 counter-txt">Site Visitor</p>
        </div>
      </div>
    </div>
    </div>
  </div>
<!-- <div class="container-fluid">
    <div class="">
        <div class="col-md-6">
            <div class="bg-black">
            <h3>Our goal</h3>
            <p>It is to achieve a wide, comprehensive service that
                is accessible to everyone. In order to ensure your
                health, we offer you an online service that
                includes everything you want.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-success">
                <h3>Our Mission</h3>
                <p>We start by making the patient assessment
                    and follow through.
                    Directing the Home Care program every
                    step of the way, until the patient is discharged.</p>
            </div>
        </div>
   
        <div class="float-end">
            <div class="w-50 float-end">
                <img src="../../assets/images/video.jpg" class="w-100 rounded-3" alt="" srcset="">
            </div>
            </div> 
</div>
</div> -->

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="text-service text-center  rounded-3 p-4 mt-1 lead">
                <h3 class="head-service">Our goal</h3>
                <p class="phar-services">It is to achieve a wide, comprehensive service that
                    is accessible to everyone. In order to ensure your
                    health, we offer you an online service that
                    includes everything you want.</p>
            </div>
            <div class="text-service  text-center p-4 rounded-3 mt-4 lead">
            <h3 class="head-service">Our Mission</h3>    
            <p class="phar-services">We start by making the patient assessment
                and follow through.
                Directing the Home Care program every
                step of the way, until the patient is discharged.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="imag-services rounded-3">
            <a href=""><img src="../../assets/images/video.jpg" class="w-100 " alt="" srcset=""></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 bg-primary p-4 mb-4">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="text-light fs-5 sec-service">
                <a href=""> <img src="../../assets/images/hospital.png"  alt="" srcset=""></a>
                <h3 class=" ">Long Term Waiver</h3>
                <p class=" lead">Patients who need an extra level
                    of care.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-light fs-5 sec-service">
                <a href=""><img src="../../assets/images/customer.png"  alt="" srcset=""></a>
                <h3>Skilled Services</h3>
                <p  class=" lead">Our agency offers a broad range of
                    services.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-light fs-5 sec-service">
                <a href=""> <img src="../../assets/images/mental-health.png"  srcset=""></a>
                <h3>Mental Health</h3>
                <p  class=" lead">We provide services tailored to
                    meet your needs.</p>
            </div>
        </div>
    </div>
</div>


  
 


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators carsol-rout">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-info bor" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=" bg-info bor"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="bg-info bor"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
          <div class="row">
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">
                        
                    <img src="../../assets/images/instagram.png" class="ooo" alt="">
                    <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/images/twitter.png" class="ooo" alt="">
                    <img src="../../assets/images/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">
                        
                    <img src="../../assets/images/instagram.png" class="ooo" alt="">
                    <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/images/twitter.png" class="ooo" alt="">
                    <img src="../../assets/images/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">
                        
                    <img src="../../assets/images/instagram.png" class="ooo" alt="">
                    <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/images/twitter.png" class="ooo" alt="">
                    <img src="../../assets/images/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <h4 class="text-carsol">Khaled ahmed</h4>
                    <p class="text-carsol fw-bold fs-6">
                        Master's degree in Cardiac Nursing with
                        five years of experience</p>
                    </div>
                    <div class="w-100 d-flex justify-content-end ">
                        
                    <img src="../../assets/images/instagram.png" class="ooo" alt="">
                    <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                    <img src="../../assets/images/twitter.png" class="ooo" alt="">
                    <img src="../../assets/images/facebook.png" class="ooo" alt="">
                    </div>
            </div>
        </div>
    </div>
</div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row">
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
      </div>
  </div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row">
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse1.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/Nurse19-2.jpg" class=" rounded-circle nurse-tow bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="bg-body border-carsol mt-2 p-3">
                  <img src="../../assets/images/nurse-rana.jpg" class=" rounded-circle nurse-one bg-dark" alt="nurse-khaled ahmed">
      
                  <div class="pe-1 w-75 float-sm-end mt-2">
                      <h4 class="text-carsol">Khaled ahmed</h4>
                      <p class="text-carsol fw-bold fs-6">
                          Master's degree in Cardiac Nursing with
                          five years of experience</p>
                      </div>
                      <div class="w-100 d-flex justify-content-end ">
                          
                      <img src="../../assets/images/instagram.png" class="ooo" alt="">
                      <img src="../../assets/images/linkedin.png" class="ooo" alt="">
                      <img src="../../assets/images/twitter.png" class="ooo" alt="">
                      <img src="../../assets/images/facebook.png" class="ooo" alt="">
                      </div>
              </div>
          </div>
      </div>
  </div>
      </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-primary rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-primary rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container mt-5">
    <div class="row">

        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/young.jpg" class=" rounded-circle nurse-comment bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <i class="fa-solid fa-quote-right float-end fs-1 text-primary"></i>
                    <h4 class="text-carsol">Hassan Ali</h4>
                    <p class="text-carsol fw-bold fs-6">
                        For I was to run away from the pain that was cillum,
                        the pain of the pain loves no fault of the many,
                        export minim fugiat minim velit minim </p>
                    </div>
                    <i class="fa-solid fa-quote-left fs-1 text-primary"></i>
               
            </div>
        </div>

        <div class="col-md-6">
            <div class="bg-body border-carsol mt-2 p-3">
                <img src="../../assets/images/ثبات-الرجل.jpg" class=" rounded-circle nurse-comment bg-dark" alt="nurse-khaled ahmed">
    
                <div class="pe-1 w-75 float-sm-end mt-2">
                    <i class="fa-solid fa-quote-right float-end fs-1 text-primary"></i>
                    <h4 class="text-carsol">Mostafa Adel</h4>
                    <p class="text-carsol fw-bold fs-6">
                        For I was to run away from the pain that was cillum,
    the pain of the pain loves no fault of the many,
    export minim fugiat minim velit minim </p>
                    
                    </div>
                    <i class="fa-solid fa-quote-left fs-1 text-primary"></i>
        
            </div>
        </div>
    </div>
</div>
<div class="container">

    <h3 class=" mb-2 text-center mt-5">contact</h3>
    <hr class="line-contact">
    
    <p class="lead contact-text">He suffers great pains. The consequences of his avoidance had to do with some. May they be the main game. No one had any desire. <br>
        And no one who hinders receives them otherwise. Because he shuns the services of an advantage</p>
    </div>
    <div class="container-fluid p-0 m-0">
    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=egypt,cairo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123 movies</a><br><style>.mapouter{position:relative;text-align:right;height:250px;width:100%;}</style><a href="https://www.embedgooglemap.net">google map location for website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:100%;}</style></div></div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
        
                <ul  class="lead">
                 <li class="mt-3">
                     <span><a href=""><i class="fa-solid fa-location-dot images-i"></i></a> Location:Cairo,Egypt,NasrCity</span>
                 </li>
                 <li class="mt-3">
                    <span> <a href=""><img src="../../assets/images/message.png" class="images" alt="" srcset=""></a>
                    Email:Info@example.com
                    </span>
                 </li>
                 <li class="mt-3">
                <span><a href=""><img src="../../assets/images/smartphone.png" class="images" alt="" srcset=""></a>
                Call:+155895548855s
                </span>
    
                 </li>
                </ul>
            </div> 
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <input type="email" class="form-control rounded-0" id="inputEmail4" placeholder="Name">
                      </div>
                    <div class="col-md-6 mb-2">
                        <input type="email" class="form-control rounded-0" id="inputEmail4" placeholder="Your Email">
                      </div>
                      <div class="col-md-12 mt-1 mb-2">
                        <input type="email" class="form-control rounded-0" id="inputEmail4" placeholder="Subject">
                      </div>
                      <div class="col-md-12 mt-1 mb-2">
                        <textarea class="form-control rounded-0" placeholder="Message" id="floatingTextarea2" style="height: 100px"></textarea>
                      </div>
                      <div class="col-md-3 m-auto fw-normal mt-3">
            <button type="button" class="btn btn-primary rounded-pill text-capitalize fw-bolder">Send Message</button>
        </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid foooter-container mt-3">
            <div class="row">
                <div class="col-md-12  text-center">
                <h2 class="mb-4 mt-2 fw-bold fs-2">Contact US</h2>
                    <span class="ms-2 mb-4">
        <a href=""><img src="../../assets/images/instagram.png" class="icon-footer" alt="" srcset=""></a>
        <a href=""><img src="../../assets/images/linkedin.png" class="icon-footer" alt="" srcset=""></a>
        <a href=""><img src="../../assets/images/twitter.png" class="icon-footer" alt="" srcset=""></a>
        <a href=""><img src="../../assets/images/facebook.png" class="icon-footer" alt="" srcset=""></a>
        <a href=""><img src="../../assets/images/email.png" class="icon-footer" alt="" srcset=""></a>
        <a href=""><img src="../../assets/images/whatsapp.png" class="icon-footer" alt="" srcset=""></a>
        
        
                    </span>
                    <div class="">
                        <img src="../../assets/images/logo2-01.png" class="w-50" alt="" srcset="">
                    </div>
                </div>
            </div>
         
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-12 text-center footer-end pt-2 text-light fw-normal fs-5 lead d-flex justify-content-center align-items-center">
                    <div>
                        <p>© Copyright Smart-nursing. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
        </footer>